body {
  background-color: black;
}
.totesEth {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: white;
  background-size: cover;
  position: relative;
  font-weight: bold;
  text-align: center;
}
.totesTotal {
  position: relative;
  z-index: 1000;
}
.totesEth:before {
  content: "";
  top:0;
  left:0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
}
